{% extends "base.html" %} {% block title %}Home{% endblock %} 

{% block content%}
<br>
<h1 align="center">Recipes</h1>

<div class="wrapper">
    <div class="cards">
        <!-- DB: FETCH LIST OF recipe TO DISPLAY, type: list of arrays -->
        <!-- each array should details for 1 recipe -->
        {% for Recipe in recipes %}
        <a class="card" href="/{{Recipe.id}}">
            <div class="card-content">
                <div class="top">
                    <!-- DB: DURATION OF recipe  -->
                    <h3 class="name">{{Recipe.duration}}mins</h3>
                    <!-- DB: Category -->
                    <div class="date"><span>{{Recipe.category}}</span></div>
                </div>
                <div class="bottom">
                    <!-- DB: DISPLAY Recipe NAME  -->
                    <h2>{{Recipe.name}}</h2>
                </div>
            </div>
            <div class="card-bg">
                <img class="bg-img" src="{{Recipe.photo }}" />
            </div>
            <div class="shadow">
                <img class="shadow-img" src="{{Recipe.photo }}" />
            </div>
        </a>
        {% endfor %}
    </div>






{% endblock %}
